0 1 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersSpringer.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 2 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersEmerald.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 3 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersEbsco.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 4 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersDegruyter.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 5 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersAnnualReviews.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 6 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersProjectEuclid.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 7 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersDuke.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 8 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersRsc.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 9 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersWiley.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
