0 1 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersSpringer.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 2 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersEmerald.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
0 3 * * 0 cd /scripts/ ; /scripts/baconBatchPublishersEbsco.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
